.container {
    display: flex;
    justify-content: center;
}

.inputFloorsBlock {
    margin-top: 50px;
    text-align: center;
}

#inputFloors {
    width: 44px;
}

.houseField {
    display: none;
    justify-content: center;
    /*margin: auto;*/
    width: 500px;
    height: 600px;
    background-color: aquamarine;
}

.houseBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100px;
}

.elevatorBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30px;
}

.roof {
    width: 0; 
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 60px solid maroon;
}

.floor {
    width: 100px;
    height: 58px;
    background-color: slategray;
    border-top: 2px solid black;
}

.elevator {
    display: flex;
    width: 30px;
    height: 50px;
    background-color: darkblue;
}

.elevatorIndicator {
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.controlBlock {
    display: none;
    margin-top: 150px;
    margin-left: 50px;
    padding-left: 30px;
    padding-top: 30px;
    width: 400px;
    height: 300px;
    border: 2px solid black;
}

#inputStartFloorNumber {
    margin: 10px;
    width: 42px;
}

#inputFinishFloorNumber {
    margin-left: 15px;
    width: 42px;
}

.startButton {
    width: 50px;
    margin-top: 20px;
    margin-left: 159px;
    cursor: pointer;
}